page-home {

}

.content {
    background-color: #36393e;
}

.shareSpace {
    display: inline-block;
    align-items: center;
    padding: 0;
}

.changeButton {
    vertical-align: middle;
    float: right;
    margin-left: 6.8em;
}

.serverName {
    margin-top: 0.25em;
    margin-left: 0.5em;
    // vertical-align: 
    float: left;
    color: #fff;
}