page-list {

}

.center {
    margin: 0 auto;
    align-content: center;
}

.title {
    text-align: center;
    color: white;
}

.tokenInput {
    background-color :#36393e;
    color: white;
}

.confirmInput {
    margin-left: 11em;
}